[submodule "statchemlib"]
	path = statchemlib
	url = git@gitlab.com:candiy/statchemlib.git
	branch = master
[submodule "candock"]
	path = candock
	url = git@gitlab.com:candiy/candock.git
[submodule "lemon"]
	path = lemon
	url = git@gitlab.com:candiy/lemon.git
	branch = master
